<div id="<%= dom_id crew %>">
  <p>
    <strong>Name:</strong>
    <%= crew.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= crew.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= crew.email %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= crew.group_id %>
  </p>

</div>
