<div id="<%= dom_id group %> class="container">
  <table>
        <thead>
            <tr>
                <th>Nombre del grupo:</th>
                <th>Tipo de grupo</th>
                <th>Debut</th>
                <th>Contrato</th>
                <th colspan="4"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= group.name %></td>
                <td><%= group.type_group %></td>
                <td><%= group.debut_date %></td>
                <td><%= group.contract_id %></td>
            </tr>
        </tbody>
    </table>
</div>