<div id="<%= dom_id concert %>">
  <p>
    <strong>Name:</strong>
    <%= concert.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= concert.date %>
  </p>

  <p>
    <strong>Audience:</strong>
    <%= concert.audience %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= concert.group_id %>
  </p>

</div>
